[submodule "article"]
	path = article
	url = https://github.com/martisak/article.git
[submodule "kth_thesis"]
	path = kth_thesis
	url = https://github.com/martisak/kth_thesis.git
[submodule "kthcolors"]
	path = kthcolors
	url = https://github.com/KTH-AC/kthcolors
[submodule "styles"]
	path = styles
	url = https://github.com/citation-style-language/styles.git
[submodule "pandoc_conference_templates"]
	path = pandoc_conference_templates
	url = https://github.com/martisak/pandoc_conference_templates.git